<x-window-main width="700" height="500" icon="apps/chat" stylesheet="/usr/share/css/empathy/main.css">
	<h1>Empathy</h1>

	<header>
		<div class="empathy-header">
			<div class="pull-right">
				<div class="search-entry-ctn">
					<x-searchEntry class="search-entry" disabled></x-searchEntry>
				</div>

				<div class="btns-ctn">
					<x-button class="btn-encryption" title="Encryption" disabled><x-icon src="actions/lock-symbolic" size="16"></x-icon></x-button>
					<x-button class="btn-accounts" title="Settings"><x-icon src="actions/document-properties-symbolic" size="16"></x-icon></x-button>
				</div>
			</div>

			<span class="clearfix"></span>
		</div>
	</header>

	<div class="views">
		<div class="view-login">
			<div class="view-login-inner">
				<h2>Chat</h2>
				<p class="lead">Log in to your <select class="login-service"></select> account to chat with friends.</p>
				<form>
					<input type="text" class="login-username" placeholder="Username"><br />
					<input type="password" class="login-password" placeholder="Password"><br />
					<input type="submit" value="Log in">
				</form>
			</div>
		</div>
		<div class="view-conversations">
			<div class="friends-list">
				<ul></ul>
			</div>
			<div class="conversation">
				<ul></ul>
				<div class="conversation-compose">
					<x-button class="compose-attach">+</x-button>
					<img src="" alt="" class="compose-contact-picture">
					<div class="compose-msg-ctn"><input type="text" class="compose-msg"></div>
				</div>
			</div>
		</div>
	</div>

	<div style="width: 0; height: 0;overflow: hidden;">
		<svg height="0" xmlns="http://www.w3.org/2000/svg">
			<filter id="brightness">
				<feComponentTransfer>
					<feFuncR type="linear" slope="0.3"/>
					<feFuncG type="linear" slope="0.3"/>
					<feFuncB type="linear" slope="0.3"/>
				</feComponentTransfer>
			</filter>
		</svg>
	</div>
</x-window-main>

<x-window dialog width="600" resizable="false" stylesheet="/usr/share/css/empathy/main.css">
	<h1>Settings</h1>

	<x-tabs>
		<ul>
			<li>Accounts</li>
			<li>Notifications</li>
			<li>BOSH servers</li>
			<li>Encryption</li>
		</ul>

		<div class="contents">
			<div class="settings-accounts">
				<x-list class="accounts-list"></x-list>
				<div class="account-settings">
					<form>
						<label>Service: <select class="account-service"></select></label><br />
						<label>Username: <input type="text" class="account-username"></label><br />
						<label>Password: <input type="password" class="account-password"></label><br />
						<x-buttonContainer>
							<x-button class="acount-remove">Remove account</x-button>
							<x-button submit>Apply</x-button>
						</x-buttonContainer>
					</form>
				</div>
			</div>

			<div class="settings-composing">
				<label><input type="checkbox" data-setting="sendComposing"> Send notifications when typing</label><br />
				<label><input type="checkbox" data-setting="sendActive"> Send notifications when reading messages</label>
			</div>

			<div class="settings-servers">
				<p>BOSH servers are used as gateways between your browser and XMPP protocol.</p>
				<label>BOSH HTTP server: <input type="text" data-setting="boshHttpUrl"></label><br />
				<label>BOSH Websocket server (optional): <input type="text" data-setting="boshWsUrl"></label><br />
				<x-buttonContainer>
					<x-button class="servers-reset">Reset to defaults</x-button>
				</x-buttonContainer>
			</div>

			<div class="settings-encryption">
				<p>Off-the-record (OTR) encryption is supported.</p>
				<label><input type="checkbox" data-setting="useOtr"> Use OTR</label><br />
				<label><input type="checkbox" data-setting="saveOtrKey"> Save OTR key</label><br />

				<x-buttonContainer>
					<x-button class="encryption-generateKey">Generate a new key</x-button>
				</x-buttonContainer>
			</div>
		</div>

		<x-buttonContainer>
			<x-button class="settings-close">Close</x-button>
		</x-buttonContainer>
	</x-tabs>

	
</x-window>