/* Generic context menu styles */
.webos-contextmenu,
.webos-contextmenu ul {
	position: absolute;
	min-width: 210px;
	z-index: 99999;
	background: white;
	padding: 0px;
	margin: 0px;
	display: none;
	border: 1px solid #909090;
	-moz-box-shadow: 0 0 12px black;
	-webkit-box-shadow: 0 0 12px black;
	box-shadow: 0 0 12px black;
	font-size: 12px;
}

ul.webos-contextmenu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

ul.webos-contextmenu a {
	color: #4d4d4d;
	text-decoration: none;
	display: block;
	line-height: 22px;
	height: 22px;
	outline: none;
	padding: 0 20px;
	border: 1px solid transparent;
}

ul.webos-contextmenu li:hover > a {
	color: white;
	background-color: #72afef;
	background: -moz-linear-gradient(#81b9f4, #4e93db);
	background: -webkit-linear-gradient(#81b9f4, #4e93db);
	background: linear-gradient(#81b9f4, #4e93db);
	border: 1px solid #364b63;
}

ul.webos-contextmenu li.disabled a {
	color: #a9a5a2;
}

ul.webos-contextmenu li:hover.disabled > a {
	background: none;
	border: 1px solid transparent;
}

ul.webos-contextmenu li.separator:before {
	content: " ";
	display: block;
	height: 1px;
	background-color: #909090;
	background: -moz-linear-gradient(left, transparent 0%, #909090 50%, transparent 100%);
	background: -webkit-linear-gradient(left, transparent 0%, #909090 50%, transparent 100%);
	background: linear-gradient(left, transparent 0%, #909090 50%, transparent 100%);
	margin: 4px 0;
}

/* Permet d'afficher les sous catégories*/


ul.webos-contextmenu li ul /* Sous-listes */
{
	margin: -27px 0px 0 210px;
}

ul.webos-contextmenu li ul li /* Éléments de sous-listes */
{
	min-width:210px;
	margin-left:0px;
	padding-right:0px;
}

/*ul.webos-contextmenu li:hover > ul  /* Sous-listes lorsque la souris passe sur un élément de liste *\/
{
	display:block;
}*/

/* Gere les images icones ===> IMAGE AVEC 20PX DE LARGEUR ET 25 DE HAUTEUR MERCI<===*/
ul.webos-contextmenu li img.icon_left {
	float:left;
	line-height:middle;
}
ul.webos-contextmenu li img.icon_right {
	float:right;
	height:20px;
	margin-right:2px;
}
