.webos-tabs {
	display: block;
	padding: 5px;
}

.webos-tabs > ul.tabs {
	list-style-type: none;
	list-style-position: inside;
	padding: 0 6px;
	margin: 0;
	position: relative;
	z-index: 2;
}
.webos-tabs > ul.tabs li {
	display: inline-block;
	padding: 2px 10px;
	border: 1px solid #a7aba7;
	border-bottom: 1px solid #a7aba7;
	margin-right: 1px;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	background-color: #dddddd;
}
.webos-tabs > ul.tabs li.active {
	border: 1px solid #1572d2;
	border-bottom: 1px solid white;
	background: url('usr/share/images/themes/adwaita/tabs/bg.png') repeat-x white;
}

.webos-tabs > .contents {
	border: 1px solid #a7aba7;
	padding: 10px;
	position: relative;
	top: -1px;
	background-color: white;
	z-index: 1;
}
.webos-tabs > .contents > div {
	display: none;
}
.webos-tabs > .contents > div.active {
	display: block;
}

/* Notebooks */
.webos-notebook {
	display: block;
}
.webos-notebook > ul.tabs {
	list-style-type: none;
	list-style-position: inside;
	padding: 1px 6px 0px;
	margin: 0;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	height: 26px;
	background-color: #c0c0c0;
	background-image: linear-gradient(#aaaaaa 0%, #bababa 20%, #c7c7c7 100%);
	box-shadow:  inset 0 -2px 2px -2px black;
}
.webos-notebook > ul.tabs > li {
	display: inline-block;
	position: relative;
	z-index: 2;
}
.webos-notebook > ul.tabs > .tab-btn {
	padding: 2px 10px;
	margin-right: 1px;
	width: 170px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}
.webos-notebook > ul.tabs > .tab-btn:not(.active) {
	background-image: linear-gradient(transparent, #808080), linear-gradient(transparent, #808080);
	background-position: 0 0, 100% 0;
	background-size: 1px 100%, 0 0;
	background-repeat: no-repeat, no-repeat;
}
.webos-notebook > ul.tabs > .tab-btn:last-child:not(.active) {
	background-size: 1px 100%, 1px 100%;
}
.webos-notebook > ul.tabs > .tab-btn.active + .tab-btn {
	background-size: 0 0, 0 0;
}
.webos-notebook > ul.tabs > .tab-btn.active + .tab-btn:last-child {
	background-size: 0 0, 1px 100%;
}
.webos-notebook > ul.tabs > .tab-btn.active {
	background-color: #e2e2e2;
	border: 1px solid #7d7d7d;
	border-bottom: 1px solid #e2e2e2;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.webos-notebook > ul.tabs > .tab-btn .tab-btn-close {
	float: left;
	font-weight: bold;
	color: #808080;
	margin-right: 5px;
}
.webos-notebook > ul.tabs > .tab-btn-newtab {
	float: left;
	color: #808080;
	margin: 2px 10px 2px 5px;
	font-weight: bold;
}
.webos-notebook > ul.tabs > .tab-btn .tab-btn-close:hover,
.webos-notebook > ul.tabs > .tab-btn-newtab:hover {
	color: #666666;
}

.webos-notebook > .contents {
	border-top: 1px solid #7d7d7d;
	position: relative;
	top: -1px;
	z-index: 1;
	height: calc(100% - 25px);
}
.webos-notebook > .contents > div {
	display: none;
	height: 100%;
}
.webos-notebook > .contents > div.active {
	display: block;
}