/home/
/var/
/etc/websocket-server-pid
/etc/websocket-server.json
/var/lib/jsondb/core/users.json
/var/lib/jsondb/core/users_permissions.json
/.git-ftp-ignore
/.transifexrc
/composer.phar
.git.sav
/build/
/dist/
/node_modules/