# Follow symbolic links
Options +FollowSymlinks

# Turn URL rewriting on
RewriteEngine on

# VERY IMPORTANT !
# If URL rewriting isn't enabled, there will be some critical security issues.
RewriteRule ^([a-zA-Z0-9-_.]+)\.html$                index.php?ui=$1 [L,QSA]
RewriteRule ^api/(.*)$                               sbin/apicall.php?path=$1 [L,QSA]
RewriteRule ^ws/?$                                   sbin/wsserver.php [L,QSA]
RewriteRule ^(bin|boot|etc|home|tmp|usr|var)/(.*)$   sbin/rawdatacall.php?type=file&path=/$1/$2 [L,QSA]

# Common media mime types
AddType text/html html
AddType text/css css
AddType text/javascript js

AddType audio/mpeg mp3
AddType audio/mp4 m4a
AddType audio/ogg oga
AddType audio/webm webma
AddType audio/wav wav
 
AddType video/mp4 mp4
AddType video/mp4 m4v
AddType video/ogg ogv
AddType video/ogg ogg
AddType video/webm webm
AddType video/webm webmv

AddType application/x-web-app-manifest+json webapp