# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

RewriteRule ^([a-zA-Z0-9-_.]+)\.html$                index.php?ui=$1 [L,QSA]
RewriteRule ^(bin|boot|etc|home|tmp|usr|var)/(.*)$   sbin/filecall.php?file=/$1/$2 [L,QSA]
