.notifications-area {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3000;
	width: 100%;
	height: 34px;
	background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
	background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
	background: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
	background: linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
}

.notifications-area .notification-container {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 515px;
}

.notifications-area .notification-container .webos-notification {
	position: relative;
	left: -50%;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.8);
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	padding: 8px;
	color: white;
}

.notifications-area .notification-container .webos-notification .header,
.notifications-area .notification-container .webos-notification .content {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis; /* pour Opera 9 */
	text-overflow: ellipsis; /* pour le reste du monde */
}
.notifications-area .notification-container .webos-notification .header {
	height: 24px;
	line-height: 24px;
}
.notifications-area .notification-container .webos-notification .header img.icon {
	width: 24px;
	height: 24px;
	margin-right: 13px;
	float: left;
}
.notifications-area .notification-container .webos-notification .content {
	height: 50px;
	margin-left: 37px;
}
.notifications-area .notification-container .webos-notification .content .message {
	height: 18px;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis; /* pour Opera 9 */
	text-overflow: ellipsis; /* pour le reste du monde */
}
.notifications-area .notification-container .webos-notification .content .webos-button {
	color: white;
	border: 2px solid #8b8b8b;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
	background-image: linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
	background-size: 100% 100%;
}
.notifications-area .notification-container .webos-notification .content .webos-button:hover {
	background-color: rgba(255, 255, 255, 0.1);
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(143, 143, 143, 0.1) 100%);
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(143, 143, 143, 0.1) 100%);
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(143, 143, 143, 0.1) 100%);
	background-image: linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(143, 143, 143, 0.1) 100%);
}
.notifications-area .notification-container .webos-notification .content .webos-button:active {
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
}
.notifications-area .notification-container .webos-notification .content input[type="text"] {
	width: 100%;
	font-size: 14px;
	padding: 6px;
	color: #545454;
	background-color: #e4e4e4;
	border: 1px solid #8b8b8b;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: inset 0 6px 6px #686868;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.notifications-area .notification-container .webos-notification .content input[type="text"] {
	width: 100%;
	font-size: 14px;
	padding: 6px;
	color: #545454;
	background-color: #e4e4e4;
	border: 1px solid #8b8b8b;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: inset 0 6px 6px #686868;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.notifications-area > ul {
	float: right;
	height: 34px;
	margin: 0;
	padding: 0 20px;
	list-style: none;
}

.notifications-area li {
	padding: 5px 0;
	display: inline-block;
}
.notifications-area li.active {
	border-bottom: 2px solid #dcdfe2;
	background: url('usr/share/images/themes/adwaita/menu/shadow.png') center bottom no-repeat;
}
.notifications-area li .indicator {
	overflow: hidden;
}
.notifications-area li .indicator img.icon {
	float: left;
	width: 22px;
	height: 22px;
}
.notifications-area li .indicator .title {
	line-height: 22px;
	color: white;
	font-weight: bold;
	white-space: nowrap;
}
.notifications-area li ul {
	position: absolute;
	display: none;
}
.notifications-area li > ul {
	bottom: 42px;
	padding: 15px 0;
	margin: 0 10px;
	border: 2px solid #a5a5a5;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.9);
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}
/* Cela permet de faire une fleche */
.notifications-area li > ul:after, .notifications-area li > ul:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.notifications-area li > ul:after {
	border-top-color: rgba(0, 0, 0, 0.9);
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}
.notifications-area li > ul:before {
	border-top-color: #a5a5a5;
	border-width: 13px;
	left: 50%;
	margin-left: -13px;
}

.notifications-area li ul li {
	display: block;
	height: 29px;
	line-height: 29px;
	color: white;
	width: 100%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 25px;
	white-space: nowrap;
}
.notifications-area li ul li:hover {
	background-color: #4c4c4c;
}