textarea, .gcalctool .webos-button {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.gcalctool, .gcalctool .webos-container {
	overflow: hidden;
}

textarea {
	width: 100%;
	padding-top: 11px;
	padding-bottom: 11px;
	margin: 0;
	margin-top: 5px;
	height: 50px;

	border: 2px solid #c4c1bd;

	text-align: right;
	font-size: 18px;
}

.result textarea {
	font-weight: bold;
}

.content .gcalctool {
	padding-left: 2px;
}

.webos-button.violet, .webos-button.pink,
.webos-button.blue, .webos-button.gray {
	width: 14%;
	margin-bottom: 1px;
	height: 27px;
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
}

.webos-button.enter {
	width: 28%;
	background-image: url('usr/share/images/gcalctool/green.png');
	background-position: 0px top;
	background-repeat: repeat-x;
	margin-bottom: 1px;
	height: 27px;
}

.webos-button.violet {
	background-image: url('usr/share/images/gcalctool/violet.png');
	background-position: 0px top;
	background-repeat: repeat-x;
}

.webos-button.violet:hover {
	background-position: 27px top;
}

.webos-button.pink {
	background-image: url('usr/share/images/gcalctool/pink.png');
	background-position: 0px top;
	background-repeat: repeat-x;
}

.webos-button.blue {
	background-image: url('usr/share/images/gcalctool/blue.png');
	background-position: 0px top;
	background-repeat: repeat-x;
}

.webos-button.gray {
	background-image: url('usr/share/images/gcalctool/gray.png');
	background-position: 0px top;
	background-repeat: repeat-x;
}