.page-container {
	width: 800px;
	height: 1000px;
	margin: 37px auto;
	padding: 75px;

	border: 1px solid #edeceb;
	background-color: white;
	font-family: "Times New Roman";
	font-size: 14px;

	-moz-box-shadow: 0 0 5px #c0bebe;
	-webkit-box-shadow: 0 0 5px #c0bebe;
	box-shadow: 0 0 5px #c0bebe;
}

.page-container .page{
	width: 100%;
	height: 100%;

	overflow: hidden;
	word-wrap: break-word;
}
.page-container .page:focus {
	outline: none;
}