<?xml version="1.0" encoding="UTF-8"?>
<userinterface>
	<attribute name="displayname" value="GNOME Shell"/>
	<includes>
		<file path="/usr/lib/webos/widgets.js"/>
		<file path="/usr/lib/webos/icons.js"/>
		<file path="/usr/lib/webos/theme.js"/>
		<file path="/usr/lib/webos/jquery.transit.min.js"/>
		<file path="/usr/lib/webos/fullscreen.js"/>
		<file path="/usr/lib/gnome-shell/notifications.js"/>
		<file path="/usr/lib/gnome/contextmenus.js"/>
		<file path="/usr/lib/gnome/widgets.js"/>
		<file path="/usr/lib/gnome/workspaces.js"/>
		<file path="/usr/lib/gnome/dashboard.js"/>
		<file path="/usr/lib/gnome/messages.js"/>
		<file path="/usr/lib/gnome/network.js"/>
		<file path="/usr/lib/gnome-shell/menus.js"/>
		<file path="/usr/lib/nautilus/nautilus.js"/>
		<file path="/usr/lib/gnome/jquery.scrollto.js"/>
	</includes>
</userinterface>