.about {
	text-align: center;
}

.about .logo {
	max-height: 150px;
	max-width: 150px;
}

.about h2 {
	margin-top: 0px;
}

.usersDataList li, .serverDataList li {
	list-style-type: none;
	list-style-position: inside;
}

.usersDataList li .detail, .serverDataList li .detail {
	color: gray;
}