.userslist {
	float: left;
	height: 380px;
	width: 230px;
	margin: 5px;
}

.userslist .userpicture {
	width: 40px;
	height: 40px;
	float: left;
}

.userslist .userdisabled {
	color: gray;
}

.edituser {
	margin-left: 245px;
	overflow: visible;
	padding: 3px;
}

.edituser .userpicture {
	margin: 7px;
	float: left;
}