/* Popover */
.webos-popover {
	position: relative;
}
.webos-popover > .popover-toggle {
	position: relative;
}
.webos-popover > .popover-content {
	position: absolute;
	padding: 5px;
	z-index: 2;
	display: none;

	background-color: white;
}

/* Alert */
.webos-alert-container {
	display: block;
	padding: 3px;

	background-color: #e35d4f;
	color: #660000;
	border-bottom: 1px solid #97312e;
}
.webos-alert-container .webos-button {
	float: right;
}