/* Tabs */
.webos-tabs {
	display: block;
}

.webos-tabs > ul.tabs {
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	margin: 0;
	position: relative;
}
.webos-tabs > ul.tabs li {
	display: inline-block;
}

.webos-tabs > .contents > div {
	display: none;
}
.webos-tabs > .contents > div.active {
	display: block;
}

/* Notebooks */
.webos-notebook {
	display: block;
}
.webos-notebook > ul.tabs {
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	margin: 0;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	height: 26px;
}
.webos-notebook > ul.tabs > li {
	display: inline-block;
	position: relative;
}
.webos-notebook > ul.tabs > .tab-btn {
	width: 170px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}
.webos-notebook > ul.tabs > .tab-btn .tab-btn-close {
	float: left;
}
.webos-notebook > ul.tabs > .tab-btn-newtab {
	float: left;
}

.webos-notebook > .contents {
	height: calc(100% - 25px);
}
.webos-notebook > .contents > div {
	display: none;
	height: 100%;
}
.webos-notebook > .contents > div.active {
	display: block;
}

/* Popover */
.webos-popover {
	position: relative;
}
.webos-popover > .popover-toggle {
	position: relative;
}
.webos-popover > .popover-content {
	position: absolute;
	padding: 5px;
	z-index: 2;
	display: none;

	background-color: white;
}

/* Alert */
.webos-alert-container {
	display: block;
	padding: 3px;

	background-color: #e35d4f;
	color: #660000;
	border-bottom: 1px solid #97312e;
}
.webos-alert-container .webos-button {
	float: right;
}

/* Color picker */
.webos-color-picker {
	display: block;
	padding: 3px;
}
.webos-color-picker .picker-palette ul {
	list-style-type: none;
	display: inline-block;
	margin: 6px;
	padding: 0;
	overflow: hidden;
	border-radius: 3px;
}
.webos-color-picker .picker-palette li {
	display: block;
	position: relative;
	width: 36px;
	height: 36px;
}
.webos-color-picker .picker-palette ul.palette-variation-black {
	display: block;
	margin: 0;
}
.webos-color-picker .picker-palette ul.palette-variation-black li {
	display: inline-block;
	border-radius: 3px;
	margin: 6px;
}

/* Icons */
.webos-icon img {
	max-width: 100%;
	max-height: 100%;
}
.webos-icon.icon-dark {
	filter: url(#webos-icon-brightness-darker);
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	filter: brightness(50%);
}

/* Menus */
.webos-menuwindowheader ul { /* Liste */
	padding: 0; /* pas de marge intérieure */
	margin: 0; /* ni extérieure */
	list-style-type: none; /* on supprime le style par défaut de la liste */
	list-style-position: inside;
	line-height: 19px; /* on définit une hauteur pour chaque élément */
	text-align: center; /* on centre le texte qui se trouve dans la liste */
}
.webos-menuwindowheader ul:empty {
	display: none;
	visibility: hidden;
	opacity: 0;
}
.webos-menuwindowheader * { /* Ensemble du menu */
	position: relative;
	z-index: 1050;
}
.webos-menuwindowheader ul { /* Menu de fenetre */
	position: relative;
	background-color: white;
	min-width: 220px;
	border: 1px solid black;
}
.webos-menuwindowheader .webos-menuitem .webos-menuitem { /* Sous-listes */
	display: block;
}
.webos-menuwindowheader ul {
	position: absolute;
	display: none;
}
.webos-menuwindowheader ul.opened,
.webos-menuwindowheader .webos-menuitem.hover > ul {
	display: block;
	opacity: 1;
}
.webos-menuwindowheader .webos-menuitem ul .webos-menuitem ul { /* Sous-sous-listes */
	top: -2px;
	left: 219px;
}
.webos-menuwindowheader .webos-menuitem { /* Item de menu */
	text-align: left;
	-o-text-overflow: ellipsis; /* pour Opera 9 */
	text-overflow: ellipsis; /* pour le reste du monde */
	white-space: nowrap;
}
.webos-menuwindowheader .webos-menuitem a {
	text-decoration: none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
	overflow: hidden;
	-o-text-overflow: ellipsis; /* pour Opera 9 */
	text-overflow: ellipsis; /* pour le reste du monde */
	white-space: nowrap;
}
.webos-menuwindowheader .webos-menuitem a:hover {
	text-decoration: none;
}
.webos-menuwindowheader .webos-menuitem, .webos-menuwindowheader .webos-menuitem a {
	color: black;
}
.webos-menuwindowheader .webos-menuitem ul .webos-menuitem { /* Item de sous-liste */
	width: 100%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.webos-menuwindowheader .webos-menuitem img.icon { /* Icone d'item */
	float: left;
	max-height: 19px;
	max-width: 19px;
	margin-right: 2px;
}
.webos-menuwindowheader > .webos-menuitem {
	/*float: left;*/
	display: inline-block;
}
.webos-menuwindowheader .separator { /* Separateur */
	border-top: solid 1px black;
}

.menu-container {
	display: inline-block;
}
.menu-container.menu-container-left {
	float:left;
}
.menu-container.menu-container-left .menu li {
	display:block;
	float:left;
}
.menu-container.menu-container-right {
	float:right;
}
.menu-container.menu-container-center {
	display:block;
	margin:auto;
}