/* ----------- Gestion des Icônes et des Zônes de Sélection ----------- v1.0 ----------- By Doppelganger ----------- Le  4/04/2011 */

div[alt="ubuntu_icon"] {

	position:absolute;
	padding:3px 3px 3px 3px;
	min-width:110px; /* permet d'éviter les bugs de width dans le JS*/
	min-height:75px; /* permet d'éviter les bugs de height  dans le JS*/


}


div.info_de_licone { /*on cache les infos */

	display:none;
	width:0px;
	height:0px;
	font-size:0px;
	position:absolute;
	top:-999999999px;
	left:-999999999px;
	opacity:0;
	visibility:hidden;

}

div.image_de_licone { /* div qui contient l'image */

	width:110px;
	height:50px;
	text-align:center;

}

img.icon_image { /* image contenue dans le div */

	opacity:0.85;
	max-width:105px;
	max-height:50px;

}

div[alt="ubuntu_icon"]:hover div.image_de_licone > img.icon_image { /* on sélectionne l'image */

	opacity:1; /* cré un effet d'éclairage */

}

div.nom_de_licone { /* div qui contient le nom de l'icône */

	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	color:white;
	width:110px;
	text-align:center;
	margin-top:5px;
	font-size:16px;

}


.ui-selecting div.nom_de_licone { /*  lorque la souris clic sur l'icône (clic enfoncé) */

	background: #f07746;

}
.ui-selected div.nom_de_licone { /* lorsque'une icône est sélectionnée */

	background: #f07746;

}
