/* Ubuntu */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: normal;
	src: local('Ubuntu'),
		url('../../../../usr/share/fonts/ubuntu-font-familly/Ubuntu-R.woff') format('woff'),
		url('../../../../usr/share/fonts/ubuntu-font-familly/Ubuntu-R.ttf') format('truetype');
}

html, body {
	overflow: hidden;
}

#webos-loading, #webos-unsupported, #webos-error {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #28001b;
	z-index: 9000;
	font-family: Ubuntu, Verdana, serif;
}

#webos-loading .center, #webos-unsupported .center, #webos-error .center {
	position: relative;
	top: 42%;
	margin: auto;
	text-align: center;
}
#webos-error .center {
	top: 32%;
}

#webos-loading h1, #webos-unsupported h1, #webos-error h1 {
	font-size: 50px;
	color: white;
	text-shadow: 0 0 0.2em white;
	margin-bottom: 10px;
}

#webos-loading p {
	color: #ffcdf1;
}
#webos-unsupported p, #webos-error p, #webos-error ul {
	color: #ff6767;
}

#webos-error ul {
	margin: 2px;
	max-height: 250px;
	overflow: auto;
	text-align: left;
}
#webos-error ul ul {
	max-height: none;
}

#webos-loading a, #webos-unsupported a
#webos-loading a:hover, #webos-unsupported a:hover,
#webos-loading a:active, #webos-unsupported a:active,
#webos-loading a:visited, #webos-unsupported a:visited {
	color: #ffcdf1;
}
#webos-unsupported p.error a, #webos-error a,
#webos-unsupported p.error a:hover, #webos-error a:hover,
#webos-unsupported p.error a:active, #webos-error a:active,
#webos-unsupported p.error a:visited, #webos-error a:visited {
	color: #ff6767;
}