<?xml version="1.0" encoding="UTF-8"?>
<userinterface>
	<attribute name="displayname" value="GNOME Panel"/>
	<includes>
		<file path="/usr/lib/webos/icons.js"/>
		<file path="/usr/lib/webos/theme.js"/>
		<file path="/usr/lib/webos/fullscreen.js"/>
		<file path="/usr/lib/webos/jquery.mousewheel.js"/>
		<file path="/usr/lib/webos/clipboard.js"/>

		<file path="/usr/lib/gtk/widgets.js"/>

		<file path="/usr/lib/compiz/widgets.js"/>
		<file path="/usr/lib/compiz/workspaces.js"/>
		<file path="/usr/lib/compiz/reviver.js"/>

		<file path="/usr/lib/gnome/widgets.js"/>
		<file path="/usr/lib/gnome/dashboard.js"/>
		<file path="/usr/lib/gnome/messages.js"/>
		<file path="/usr/lib/gnome/jquery.scrollto.js"/>

		<file path="/usr/lib/gnome-panel/notifications.js"/>
		<file path="/usr/lib/gnome-panel/menus.js"/>

		<file path="/usr/lib/gnome/network.js"/>
		<file path="/usr/lib/gnome/power.js"/>
		
		<file path="/usr/lib/nautilus/nautilus.js"/>
		<file path="/usr/lib/gnome-screensaver/webos.js"/>
	</includes>
</userinterface>