<x-window-main width="600" height="400" icon="apps/filemanager" stylesheet="/usr/share/css/nautilus/window.css">
	<h1>File manager</h1>

	<header>
		<x-menuWindowHeader>
			<x-menuItem label="File">
				<x-menuItem class="btn-file-new-window" label="New window"></x-menuItem>

				<x-menuItem class="btn-file-upload" label="Upload files" separator></x-menuItem>
				<x-menuItem class="btn-file-new-folder" label="Create a new folder"></x-menuItem>
				<x-menuItem class="btn-file-new-file" label="Create a new file"></x-menuItem>
				<x-menuItem class="btn-file-mount" label="Mount a volume"></x-menuItem>

				<x-menuItem class="btn-file-quit" label="Close" separator></x-menuItem>
			</x-menuItem>

			<x-menuItem label="Edit">
				<x-menuItem class="btn-edit-select-all" label="Select all"></x-menuItem>

				<x-menuItem class="btn-edit-select-filter" label="Select..."></x-menuItem>
				<x-menuItem class="btn-edit-select-invert" label="Invert"></x-menuItem>
				<x-menuItem class="btn-edit-search" label="Search" separator></x-menuItem>
			</x-menuItem>

			<x-menuItem label="View">
				<x-menuItem class="btn-view-order-name" label="Order by name"></x-menuItem>
				<x-menuItem class="btn-view-order-size" label="Order by size"></x-menuItem>
				<x-menuItem class="btn-view-order-type" label="Order by type"></x-menuItem>
				<x-menuItem class="btn-view-order-mtime" label="Order by modification time"></x-menuItem>
				<x-menuItem class="btn-view-order-atime" label="Order by access time"></x-menuItem>

				<x-menuItem class="btn-view-grid" label="Icons"></x-menuItem>
				<x-menuItem class="btn-view-list" label="List" separator></x-menuItem>

				<x-menuItem class="btn-view-refresh" label="Refresh" separator></x-menuItem>
				<x-menuItem class="btn-view-hiddenfiles" label="Show hidden files" separator></x-menuItem>
			</x-menuItem>

			<x-menuItem label="Help">
				<x-menuItem class="btn-help-about" label="About"></x-menuItem>
			</x-menuItem>
		</x-menuWindowHeader>

		<div class="nautilus-header">
			<div class="pull-right">
				<div class="btns-ctn">
					<x-button class="btn-edit-search" title="Search" data-l10n-prop="title"><x-icon src="actions/edit-find" size="16"></x-icon></x-button>
				</div>
			</div>

			<div class="pull-left btn-ctn">
				<div class="btn-navigation">
					<x-button class="btn-go-previous" title="Previous"><x-icon src="actions/go-previous" size="16"></x-icon></x-button>
					<x-button class="btn-go-next" title="Next"><x-icon src="actions/go-next" size="16"></x-icon></x-button>
				</div>

				<x-buttonGroup>
					<x-button class="btn-view-grid" title="Grid" activated><x-icon src="actions/view-grid-symbolic" size="16" variant="dark"></x-icon></x-button>
					<x-button class="btn-view-list" title="List"><x-icon src="actions/view-list-symbolic" size="16" variant="dark"></x-icon></x-button>
				</x-buttonGroup>
			</div>

			<div class="expand">
				<x-buttonGroup class="btn-ctn-location"></x-buttonGroup>
				<input type="text" class="entry-search-query">
			</div>

			<span class="clearfix"></span>
		</div>
	</header>

	<div class="nautilus-shortcuts-ctn"></div>
	<div class="nautilus-ctn"></div>
</x-window-main>