.content {
	padding: 3px;
}
.image {
	float: left;
	max-width: 48px;
}
ul.file-data {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.webos-list {
	max-height: 250px;
}
.data-ctn {
	margin-left: 50px;
}